{% extends 'base.html' %}

{% block head %}
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <style>
        div{
            box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
            padding: 0px 5%;
        }
    </style>
    
{% endblock %}

{% block body %}
    <section>
         <!--navigation--->
         <nav>
            <!--logo-->
            <a href="#" class="logo">SITES</a>
            <!--menu-->
            <ul>
                <li><a href='/'>Home</a> </li>
                <li><a href='/site'>site</a> </li>
            </ul>
        </nav>
        <div >
            <h2>Search Sites:</h2>
            <form action='/' method='POST'>
                Site:<input type='text' name="title" id="title"><br>
                <input type="submit" value="post">
            </form>

        </div>   
        <div>
            <a href='{{site}}'>{{site}}</a>
            <p>{{comment}}</p>
        </div>

        
    </section>
{% endblock %}