{% extends 'base.html' %}

{% block head %}
    <title>admin</title>
    
    
{% endblock %}

{% block body %}
    <section>
         
        <div >
            <h2>Search Sites:</h2>
            <form action='/admin' method='POST'>
                Title:<input type='text' name="title" id="title"><br>
                <br>
                Site:<input type='text' name="site" id="site"><br>
                <br>
                <textarea rows="4" cols="50" name='comment' id="commend">Enter comment here....</textarea><br>
                date:<input type='text' name="date" id="date"><br>
                <br>
                <input type="submit" value="submit">
            </form>

        </div>   
        <div>
            <h1>{{post}}</h1>
        </div>
        

        
    </section>
{% endblock %}