{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
    
    
{% endblock %}

{% block body %}
    <section>
        
        <div>

            <form action='/site' method='POST'>
                Site:<input type='text' name="title" id="title"><br>
                <br>
                <input type="submit" value="Search">
            </form>

        </div>
        <br>
        <div>
            <a href='{{site}}'>{{site}}</a>
            <p>{{comment}}</p>
        </div>
        





    </section>
{% endblock %}
